html,body{
    margin: 0;
    padding:0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding:0;
}

/*定义滚动条的整体样式使其变窄*/
/* body::-webkit-scrollbar, */
#content::-webkit-scrollbar{
    width: 6px;
    height: 1px;
}
/*定义滚动条的滑块的样式有圆角和阴影以及自定义的背景色*/
/* body::-webkit-scrollbar-thumb, */
#content::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background: #aaa;
}
/*定义滚动条所在轨道的样式。有圆角和阴影以及淡色系的背景色*/
/* body::-webkit-scrollbar-track, */
#content::-webkit-scrollbar-track{
    border-radius: 6px;
    background: #e6e6e6;
}

#article-content img{
    max-width: 706px;
}
.comments .el-textarea__inner:focus{
    border-color: #ff6600;
}
.comments .el-button--primary{
    color: #666;
    border-color: #ccc;
    background-color:#f0f0f0;
}
.comments .el-button--primary:hover{
    border-color: #ccc;
    background-color: #ccc;
}
.comments .el-button--default:hover{
    color: #fff;
    border-color: #ccc;
    background-color: #ccc;
}