body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;}
body{font-family:"微软雅黑","宋体","Arial Narrow";}
ul,ol{list-style-type:none;}
html{
    overflow-y: scroll;
}
/*定义滚动条的整体样式使其变窄*/
body::-webkit-scrollbar{
    width: 6px;
    height: 1px;
}
/*定义滚动条的滑块的样式有圆角和阴影以及自定义的背景色*/
body::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background: #ccc;
}
/*定义滚动条所在轨道的样式。有圆角和阴影以及淡色系的背景色*/
body::-webkit-scrollbar-track{
    border-radius: 6px;
    background: #fff;
}

#article-content img{
    max-width: 690px;
    margin: 0 auto;
}

.person-centre .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.person-centre .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}